{% extends "blog/base.html" %}
{% load static %}
{% block content %}
<div class="col-sm-10">
    <h3 class="text-white my-5">About Page</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa eligendi magnam, assumenda nam dolor fuga soluta amet, voluptatibus a deleniti velit ipsam quas porro ratione dignissimos, quo natus rerum quibusdam!</p>

    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non voluptatem dolorum veritatis possimus ullam, voluptates similique totam saepe? Accusamus exercitationem molestias tenetur consectetur fugit in mollitia explicabo est voluptates optio.</p>
     

</div>
{% endblock content %}